body{
    background-image: url("background.jpg");
    opacity:0.5;
    -moz-opacity: 0.5;
    background-attachment: fixed; /* fixar imagem*/
    background-size: 100%; /* tamanho tela*/
    font-family: 'Times New Roman', Times, serif; /*fonte*/
    font-size: 40px;
}

.japensou{
    font-family: cursive;
    font-weight:bolder;
    font-size:60px;
}

.cliqueabaixo{
    font-family: cursive;
    font-weight:bolder;
    font-size:40px;
}

.button {
    border:2px solid #DEB887;
    border-radius:10px;
    cursor:pointer;
    font-family:cursive;
    font-weight:bolder;
    font-size:40px;
    padding:9px 10px;
    text-decoration:none;        
    margin: 10px;
}

.valorfinal{
    font-family:cursive;
    font-weight:bolder;
    font-size:40px;
}

figure{
    align-items: center;
}

.contentBox{
    float:center;
    position:fixed;
    text-align: center;
    border-style: double;
    border-width:initial;
    width: 700px;
    height: 90%;
    padding: 30px;
    padding-top: 10px;
    margin-bottom:400px;
    background-color: aliceblue;
    margin: 200px 200px 200px px;
    border-style: solid;
    border-width: 20% #DEB887;
}
.reset{
    border:5px solid #DEB887;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:cursive;
    font-weight:bolder;
    font-size:15px;
    padding:6px 10px;
    text-decoration:none;
}    

.valorfinal2{
    font-family: cursive;
    font-weight:bolder;
    font-size:70px;
}
.hmtl{
    margin-bottom:30mm;
}

.functions{
    font-size: 40px;
    background-color:bisque;
    border: solid #DEB887;
}